<main class="index">
	<header class="masthead d-flex">
		<div class="container text-center text-dark my-auto">
			<h2 class="mb-5"> 
				Store your favorite recipes
			</h2>
			<div class="col-7 ml-auto mr-auto">	
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					
			
				{{#each lastRe}}

					<div class="col-md-6">
						<div class="card text-center mt-3 ml-3">
							<div class="card-body">
								<a href="/recipes/steps/{{id}}"class="card-title text-uppercase"> 
									{{title}}  <!--renderiza titulo del link-->
								</a> 			
								<p class="m-2">
									{{description}} <!--mostrar descripcion-->
								</p>						
								</p>	
									{{timeago created_at}}
								</p>								
							</div>
						</div>
					</div>				

					{{else}}
						<div class="col-md-8 mx-auto">
							<div class="card card-body text-center">
								<p> No hay recipes creados </p>
									<a href="/recipes/add"> Agrega un nuevo recipe </a>
							</div>					
						</div>					
				{{/each}}
			</div>
			</div>

			<div class="col-md-3 mt-3">
				<div class="card text-center bg-info text-light">
					<h6 class="card-header text-dark"> ALL RECIPES </h6>
					{{#each allRecipes}}
						<a href="/recipes/steps/{{id}}"class="text-light"> 	{{title}}
						</a> 
					{{/each}}
				</div>		
			</div>	
		</div>			
	</div>
</main>