<div class="container">
	<h2 class="text-center text-info mt-4">Welcome {{user.fullname}}</h2>
    <div class="row text-center">
    	<div class="col">
    		<h5 class="mt-4 text-light">Últimas Recetas Agregadas</h5>
			<div class="container p-4">
				<div class="row">
					{{#each lastRecipes}}
						<div class="col-md-4 ">
							<div class="card text-center">
								<div class="card-body">
									<a href="/recipes/steps/{{id}}"class="card-title links text-uppercase"> 
										{{title}}
									</a> 		

									<p class="m-2">
										{{description}} 	
									</p>
											
									<p class="links">	
										{{timeago created_at}}
									</p>
					
									<a href="/recipes/delete/{{id}}" class="btn btn-danger"> Delete</a>
									<a href="/recipes/edit/{{id}}" class="btn btn-secondary"> Edit</a>
								</div>
							</div>
						</div>

						{{else}}
							<div class="col-md-4 mx-auto">
								<div class="card card-body text-center">
									<p> No hay recipes creados </p>
									<a href="/recipes/add"> Agrega un nuevo recipe </a>
								</div>					
							</div>
					{{/each}}
				</div>	
			</div>
    	</div>    	                  
    </div>
    <div class="col-md-4 mx-auto mt-5">
		<div class="card card-body text-center bg-dark links">
			<a href="/recipes/add"> Agrega una nueva</a>
		</div>					
	</div>
</div>